@namespace Admin.BBApp.Shared.Layout
@layout UserLoginLayout
@page "/user/login"

@using Admin.BBApp.Shared.Data
@using Admin.BBApp.Shared.Models
@using Admin.Core.Service.Admin.Auth.Input
@inject WeatherForecastService ForecastService

<div class="row">
    <div class="form-group col-12 col-sm-12">
        <BootstrapInput placeholder="请输入 ..." @bind-Value="@model.UserName" DisplayText="双向绑定示例">
        </BootstrapInput>
    </div>
    <div class="form-group col-12 col-sm-12">
        <div>绑定数值: @model.UserName</div>
    </div>
</div>

@code {

    private Response<WeatherForecastService.Token> output = new Response<WeatherForecastService.Token>();
    private AuthLoginInput model = new AuthLoginInput();

    protected override async Task OnInitializedAsync()
    {
        output.Data = new WeatherForecastService.Token();
        output = await ForecastService.Login();
    }
}
